{"swagger":"2.0","info":{"description":"Documentação da API Tasks","version":"v2","title":"Tasks"},"host":"swagger.fluig.app","basePath":"/tasks/api/v2","tags":[{"name":"Attachments","description":"Gerencie as informações dos anexos relacionados as suas tarefas"},{"name":"Categories","description":"Agrupe os passos de suas tarefas em categorias para melhor gerenciamento"},{"name":"External Notify Triggers","description":"Controla configurações de notificações externas por lista"},{"name":"Histories","description":"Acompanhe o histórico de cada tarefa, lista ou projeto gerenciado"},{"name":"Lists","description":"Gerencie suas listas de tarefas e as que você possui permissão"},{"name":"Notify Configurations","description":"Manipule as configurações de notificações para os usuários da lista"},{"name":"Permissions","description":"Gerencie as permissões de acesso e alteração de suas listas para os usuários"},{"name":"Preferences","description":"Manipule suas preferências de maneira global ou por lista"},{"name":"Priorities","description":"Gerencie as prioridades da sua lista para atribuí-las a criticidade de cada tarefa"},{"name":"Projects","description":"Agrupe suas listas em projetos para acompanhá-los de maneira conjunta"},{"name":"Status","description":"Gerencie os status em que suas tarefas podem se encontrar"},{"name":"Steps","description":"Gerencie os passos de cada tarefa para o acompanhamento de seu progresso"},{"name":"Task Watchers","description":"Controla observadores externos da tarefa"},{"name":"Tasks","description":"Manipule as tarefas em listas suas ou que você possui permissão"},{"name":"Templates","description":"Replique listas e tarefas a partir de modelos JSON"}],"paths":{"/histories":{"get":{"tags":["Histories"],"summary":"Recupera históricos relacionados aos recursos","operationId":"findHistoriesUsingGET_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"historyType","in":"query","description":"Tipo de histórico","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador do histórico","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["historyType","-historyType","id","-id","createDate","-createDate"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/HistoryResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/histories/count":{"get":{"tags":["Histories"],"summary":"Retorna a contagem do resultado da busca por históricos","operationId":"countHistoriesUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"historyType","in":"query","description":"Tipo de histórico","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador do histórico","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["historyType","-historyType","id","-id","createDate","-createDate"]}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/CountResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/histories/{id}":{"get":{"tags":["Histories"],"summary":"Recupera histórico por seu identificador","operationId":"findHistoriesUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador do histórico","required":false,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/HistoryResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists":{"get":{"tags":["Lists"],"summary":"Recupera um conjunto de listas de tarefas","operationId":"findToDoListsUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"active","in":"query","description":"Ativo, por padrão verdadeiro","required":false,"type":"boolean"},{"name":"archived","in":"query","description":"Indica se a lista está arquivada","required":false,"type":"boolean"},{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"description","in":"query","description":"Descrição da lista de tarefas","required":false,"type":"string"},{"name":"expand","in":"query","description":"Allowable Values: \n[author, tasks, status, priorities, permissions, selfPermission, properties, notifyConfiguration, externalNotifyTriggers]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","tasks","status","priorities","permissions","selfPermission","properties","notifyConfiguration","externalNotifyTriggers"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador da lista","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"name","in":"query","description":"Nome da lista de tarefas","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["name","-name","active","-active","createDate","-createDate","updateDate","-updateDateproject.name","-project.name","sortValue","-sortValue"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100},{"name":"permissionOnly","in":"query","description":"Caso seja colocado como falso, destrava a permissão de visualização dos recursos independente da permissão de alterá-los e manipulá-los","required":false,"type":"boolean"},{"name":"projectId","in":"query","description":"Identificador da permissão","required":false,"type":"string"},{"name":"property","in":"query","description":"Busca o recurso por uma de suas propriedades personalizáveis. Para buscá-lo, envie a informação da forma a seguir: chave:valor. A busca é feita de forma literal.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"post":{"tags":["Lists"],"summary":"Registra uma nova lista de tarefas","operationId":"createToDoListUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Lista de tarefas","required":true,"schema":{"$ref":"#/definitions/ToDoListCreate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[author, tasks, status, priorities, permissions, selfPermission, properties, notifyConfiguration, externalNotifyTriggers]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","tasks","status","priorities","permissions","selfPermission","properties","notifyConfiguration","externalNotifyTriggers"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"201":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Conflict between resources. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/count":{"get":{"tags":["Lists"],"summary":"Retorna a contagem do resultado da busca listas","operationId":"countToDoListsUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"active","in":"query","description":"Ativo, por padrão verdadeiro","required":false,"type":"boolean"},{"name":"archived","in":"query","description":"Indica se a lista está arquivada","required":false,"type":"boolean"},{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"description","in":"query","description":"Descrição da lista de tarefas","required":false,"type":"string"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador da lista","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"name","in":"query","description":"Nome da lista de tarefas","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["name","-name","active","-active","createDate","-createDate","updateDate","-updateDateproject.name","-project.name","sortValue","-sortValue"]},{"name":"permissionOnly","in":"query","description":"Caso seja colocado como falso, destrava a permissão de visualização dos recursos independente da permissão de alterá-los e manipulá-los","required":false,"type":"boolean"},{"name":"projectId","in":"query","description":"Identificador da permissão","required":false,"type":"string"},{"name":"property","in":"query","description":"Busca o recurso por uma de suas propriedades personalizáveis. Para buscá-lo, envie a informação da forma a seguir: chave:valor. A busca é feita de forma literal.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/CountResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{id}":{"get":{"tags":["Lists"],"summary":"Recupera uma lista específica por identificador","operationId":"findToDoListUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[author, tasks, status, priorities, permissions, selfPermission, properties, notifyConfiguration, externalNotifyTriggers]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","tasks","status","priorities","permissions","selfPermission","properties","notifyConfiguration","externalNotifyTriggers"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"put":{"tags":["Lists"],"summary":"Atualiza uma lista de tarefas por completo","operationId":"updateToDoListUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Lista de tarefas","required":true,"schema":{"$ref":"#/definitions/ToDoListUpdate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[author, tasks, status, priorities, permissions, selfPermission, properties, notifyConfiguration, externalNotifyTriggers]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","tasks","status","priorities","permissions","selfPermission","properties","notifyConfiguration","externalNotifyTriggers"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"delete":{"tags":["Lists"],"summary":"Desativa uma lista de tarefas","operationId":"deactivateToDoListUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"patch":{"tags":["Lists"],"summary":"Atualiza propriedades específicas da lista de tarefas","operationId":"patchToDoListUsingPATCH","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[author, tasks, status, priorities, permissions, selfPermission, properties, notifyConfiguration, externalNotifyTriggers]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","tasks","status","priorities","permissions","selfPermission","properties","notifyConfiguration","externalNotifyTriggers"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"in":"body","name":"patchs","description":"patchs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/JSONPatch«ToDoListPatch»"}}}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{id}/activate":{"post":{"tags":["Lists"],"summary":"Reativa uma lista de tarefas desativada, deve ser efetuado por um administrador da lista","operationId":"activateToDoListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{id}/archive":{"post":{"tags":["Lists"],"summary":"Arquiva uma lista de tarefas","operationId":"archiveToDoListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{id}/attachments":{"get":{"tags":["Lists"],"summary":"Recupera os anexos atrelados a lista de tarefas","operationId":"findAttachmentsUsingGET_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"active","in":"query","description":"Tarefa ativa, por padrão verdadeiro","required":false,"type":"boolean"},{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"description","in":"query","description":"Descrição do anexo","required":false,"type":"string"},{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["description","-description","createDate","-createDate","updateDate","-updateDate"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/GroupedAttachmentsByTasksResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{id}/histories":{"get":{"tags":["Lists"],"summary":"Recupera um conjunto de históricos de uma determinada lista","operationId":"findToDoListHistoriesUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"order","in":"query","description":"Allowable Values: \n[historyType, -historyType, id, -id, createDate, -createDate]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false,"enum":["historyType","-historyType","id","-id","createDate","-createDate"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/HistoryFeedResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{id}/start-storage-folder":{"post":{"tags":["Lists"],"summary":"Cria uma pasta no serviço de armazenamento de arquivos para atrelar a lista","operationId":"createStorageFolderUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{id}/tasks/sync":{"post":{"tags":["Tasks"],"summary":"Sincroniza lista, status e tarefas de acordo com o listId","operationId":"syncTasksByListIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"Identificador da lista utilizado para sincronizar a lista, status e tarefas","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{id}/unarchive":{"post":{"tags":["Lists"],"summary":"Remove uma lista de tarefas do arquivamento","operationId":"unarchiveToDoListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"Id","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/duplicate":{"post":{"tags":["Lists"],"summary":"Duplica uma lista de tarefas","operationId":"duplicateToDoListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"in":"body","name":"toDoListDuplicateDTO","description":"Objeto usado para encapsular o name e sortValue a fim de duplicar uma lista de tarefas","required":true,"schema":{"$ref":"#/definitions/ToDoListDuplicate"}}],"responses":{"202":{"description":"The request has been accepted but the processing has not been completed yet","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/external-notify-triggers":{"get":{"tags":["External Notify Triggers"],"summary":"Busca configurações de notificações para endereços externos","operationId":"findPrioritiesUsingGET_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"expand","in":"query","description":"Allowable Values: \n[author]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador único da propriedade","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["triggerType","-triggerType","id","-id","createDate","-createDate","updateDate","-updateDate","triggerWhen","-triggerWhen"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100},{"name":"triggerType","in":"query","description":"Valor da propriedade","required":false,"type":"string"},{"name":"triggerWhen","in":"query","description":"Valor da propriedade","required":false,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListExternalNotifyTriggerResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"post":{"tags":["External Notify Triggers"],"summary":"Cria uma configuração de notificação para endereço externo","operationId":"createToDoListExternalNotifyTriggerUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Objeto para organização de disparos para e-mails externos aos observadores da tarefa","required":true,"schema":{"$ref":"#/definitions/ToDoListExternalNotifyTriggerCreate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[author]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"201":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListExternalNotifyTriggerResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Conflict between resources. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/external-notify-triggers/count":{"get":{"tags":["External Notify Triggers"],"summary":"Conta quantidade de configurações de notificações para endereços externos","operationId":"countPrioritiesUsingGET_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador único da propriedade","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["triggerType","-triggerType","id","-id","createDate","-createDate","updateDate","-updateDate","triggerWhen","-triggerWhen"]},{"name":"triggerType","in":"query","description":"Valor da propriedade","required":false,"type":"string"},{"name":"triggerWhen","in":"query","description":"Valor da propriedade","required":false,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/CountResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/external-notify-triggers/{id}":{"get":{"tags":["External Notify Triggers"],"summary":"Busca configuração de notificações para endereços externos","operationId":"findToDoListExternalNotifyTriggerUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[author]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador do disparo configurado","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListExternalNotifyTriggerResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"put":{"tags":["External Notify Triggers"],"summary":"Atualiza uma configuração de notificação para endereço externo","operationId":"updateToDoListExternalNotifyTriggerUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Objeto para organização de disparos para e-mails externos aos observadores da tarefa","required":true,"schema":{"$ref":"#/definitions/ToDoListExternalNotifyTriggerUpdate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[author]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador do disparo configurado","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListExternalNotifyTriggerResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"delete":{"tags":["External Notify Triggers"],"summary":"Exclui uma configuração de notificação para endereço externo","operationId":"deactivateToDoListExternalNotifyTriggerUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"Identificador do disparo configurado","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"patch":{"tags":["External Notify Triggers"],"summary":"Atualiza uma propriedade de uma configuração de notificação para endereço externo","operationId":"patchToDoListExternalNotifyTriggerUsingPATCH","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[author]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador do disparo configurado","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"in":"body","name":"patchs","description":"patchs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/JSONPatch«ToDoListExternalNotifyTriggerPatch»"}}}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListExternalNotifyTriggerResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/notify-configurations":{"get":{"tags":["Notify Configurations"],"summary":"Busca pelas configurações de notificações internas de uma lista","operationId":"findToDoListNotifyConfigurationUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListNotifyConfigurationResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"put":{"tags":["Notify Configurations"],"summary":"Atualiza configurações de notificação interna da lista","operationId":"updateToDoListNotifyConfigurationUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Objeto de configuração de notificações internas da lista","required":true,"schema":{"$ref":"#/definitions/ToDoListNotifyConfigurationUpdate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListNotifyConfigurationResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"patch":{"tags":["Notify Configurations"],"summary":"Atualiza propriedades das configurações de notificação interna da lista","operationId":"patchToDoListNotifyConfigurationUsingPATCH","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"in":"body","name":"patchs","description":"patchs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/JSONPatch«ToDoListNotifyConfigurationPatch»"}}}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListNotifyConfigurationResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/permissions":{"get":{"tags":["Permissions"],"summary":"Recupera as permissões dos usuários de uma lista","operationId":"findPermissionsUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"expand","in":"query","description":"Allowable Values: \n[author, user]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","user"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador da permissão","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["description","-description","id","-id","createDate","-createDate","updateDate","-updateDate","statusType-statusType"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100},{"name":"permissionType","in":"query","description":"Tipo de permissão","required":false,"type":"string","enum":["ADMIN","USER","OBSERVER"]},{"name":"userId","in":"query","description":"Identificador do usuário","required":false,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/PermissionResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"post":{"tags":["Permissions"],"summary":"Registra nova permissão para uma lista, caso o usuário já tenha uma permissão na lista ela será atualizada","operationId":"createPermissionUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Permissão","required":true,"schema":{"$ref":"#/definitions/PermissionCreate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[author, user]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","user"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"201":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/PermissionResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Conflict between resources. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/permissions/count":{"get":{"tags":["Permissions"],"summary":"Retorna a contagem do resultado da busca por permissões","operationId":"countPermissionsUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador da permissão","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["description","-description","id","-id","createDate","-createDate","updateDate","-updateDate","statusType-statusType"]},{"name":"permissionType","in":"query","description":"Tipo de permissão","required":false,"type":"string","enum":["ADMIN","USER","OBSERVER"]},{"name":"userId","in":"query","description":"Identificador do usuário","required":false,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/CountResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/permissions/{id}":{"get":{"tags":["Permissions"],"summary":"Recupera uma permissão de uma lista por seu identificador","operationId":"findPermissionUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[author, user]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","user"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da permissão","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/PermissionResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"put":{"tags":["Permissions"],"summary":"Atualiza uma permissão por completo","operationId":"updatePermissionUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Permissão","required":true,"schema":{"$ref":"#/definitions/PermissionUpdate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[author, user]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","user"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da permissão","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/PermissionResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"delete":{"tags":["Permissions"],"summary":"Remove uma permissão de uma lista","operationId":"deletePermissionUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"Identificador da permissão","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"patch":{"tags":["Permissions"],"summary":"Atualiza propriedades específicas da permissão","operationId":"patchPermissionUsingPATCH","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[author, user]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","user"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da permissão","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"in":"body","name":"patchs","description":"patchs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/JSONPatch«PermissionPatch»"}}}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/PermissionResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/preferences":{"get":{"tags":["Preferences"],"summary":"Recupere suas preferências de usuário conforme a lista atrelada","operationId":"findPreferencesByListUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[user, list]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["user","list"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador da preferência do usuário","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"key","in":"query","description":"Chave da preferência de usuário","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"listId","in":"query","description":"Identificador da lista","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["key","-key","id","-id","createDate","-createDate","updateDate","-updateDate"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/UserPreferenceResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"post":{"tags":["Preferences"],"summary":"Registra uma preferência de usuário em uma lista específica","operationId":"createUserPreferenceByListUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Preferência de usuário","required":true,"schema":{"$ref":"#/definitions/UserPreferenceCreate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[user, list]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["user","list"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"201":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/UserPreferenceResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Conflict between resources. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/preferences/count":{"get":{"tags":["Preferences"],"summary":"Retorna a contagem do resultado da busca de suas preferências conforme a lista atrelada","operationId":"countPreferencesByListUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador da preferência do usuário","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"key","in":"query","description":"Chave da preferência de usuário","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"listId","in":"query","description":"Identificador da lista","required":false,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["key","-key","id","-id","createDate","-createDate","updateDate","-updateDate"]}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/CountResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/preferences/{id}":{"get":{"tags":["Preferences"],"summary":"Recupere uma preferência de usuário conforme identificador e lista atrelada","operationId":"findUserPreferenceByListUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[user, list]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["user","list"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da preferência do usuário","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/UserPreferenceResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"put":{"tags":["Preferences"],"summary":"Atualiza uma preferência de usuário por completo em relação a uma lista","operationId":"updateUserPreferenceByListUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Preferência de usuário","required":true,"schema":{"$ref":"#/definitions/UserPreferenceUpdate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[user, list]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["user","list"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da preferência do usuário","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/UserPreferenceResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"delete":{"tags":["Preferences"],"summary":"Remove uma preferência de usuário atrelada a uma lista","operationId":"deactivateUserPreferenceByListUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"Identificador da preferência do usuário","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"patch":{"tags":["Preferences"],"summary":"Atualiza propriedades específicas de uma preferência de usuário atrelada a uma lista","operationId":"patchUserPreferenceByListUsingPATCH","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[user, list]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["user","list"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador da preferência do usuário","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"in":"body","name":"patchs","description":"patchs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/JSONPatch«UserPreferencePatch»"}}}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/UserPreferenceResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/properties":{"get":{"tags":["Lists"],"summary":"Recupera propriedades do recurso","operationId":"findToDoListPropertiesUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador único da propriedade","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"key","in":"query","description":"Chave da propriedade","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["key","-key","id","-id","createDate","-createDate","updateDate","-updateDate","value","-value"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100},{"name":"value","in":"query","description":"Valor da propriedade","required":false,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListPropertyResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"post":{"tags":["Lists"],"summary":"Registra uma nova propriedade sobre o recurso","operationId":"createToDoListPropertyUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Propriedade personalizada do recurso","required":true,"schema":{"$ref":"#/definitions/ToDoListPropertyCreate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"201":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListPropertyResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Conflict between resources. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/properties/count":{"get":{"tags":["Lists"],"summary":"Retorna a contagem do resultado da busca por propriedades","operationId":"countToDoListPropertiesUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador único da propriedade","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"key","in":"query","description":"Chave da propriedade","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["key","-key","id","-id","createDate","-createDate","updateDate","-updateDate","value","-value"]},{"name":"value","in":"query","description":"Valor da propriedade","required":false,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/CountResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/properties/{id}":{"get":{"tags":["Lists"],"summary":"Recupera uma propriedade específica do recurso","operationId":"findToDoListPropertyUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador único da propriedade","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListPropertyResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"put":{"tags":["Lists"],"summary":"Atualiza uma propriedade do recurso por completo","operationId":"updateToDoListPropertyUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Propriedade personalizada do recurso","required":true,"schema":{"$ref":"#/definitions/ToDoListPropertyUpdate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador único da propriedade","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListPropertyResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"delete":{"tags":["Lists"],"summary":"Remove uma propriedade de um recurso","operationId":"deactivateToDoListPropertyUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"Identificador único da propriedade","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"204":{"description":"Successful request without body content","schema":{"$ref":"#/definitions/ResponseEntity"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"patch":{"tags":["Lists"],"summary":"Atualiza uma propriedade específica da propriedade do recurso","operationId":"patchToDoListPropertyUsingPATCH","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador único da propriedade","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"in":"body","name":"patchs","description":"patchs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/JSONPatch«ToDoListPropertyPatch»"}}}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/ToDoListPropertyResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/task-priorities":{"get":{"tags":["Priorities"],"summary":"Recupera um conjunto de prioridades registradas em uma lista","operationId":"findPrioritiesUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"description","in":"query","description":"Descrição da prioridade","required":false,"type":"string"},{"name":"expand","in":"query","description":"Allowable Values: \n[author, properties]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","properties"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador de prioridade","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["description","-description","id","-id","createDate","-createDate","updateDate","-updateDate","priorityLevel-priorityLevel"]},{"name":"page","in":"query","description":"Page Number","required":false,"type":"integer","default":1,"format":"int32","x-example":1},{"name":"pageSize","in":"query","description":"Number of records per page","required":false,"type":"integer","default":100,"format":"int32","x-example":100},{"name":"property","in":"query","description":"Busca o recurso por uma de suas propriedades personalizáveis. Para buscá-lo, envie a informação da forma a seguir: chave:valor. A busca é feita de forma literal.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/TaskPriorityResponseList"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false},"post":{"tags":["Priorities"],"summary":"Registra uma nova prioridade em uma lista","operationId":"createTaskPriorityUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"Prioridade","required":true,"schema":{"$ref":"#/definitions/TaskPriorityCreate"}},{"name":"expand","in":"query","description":"Allowable Values: \n[author, properties]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","properties"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"201":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/TaskPriorityResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Conflict between resources. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/task-priorities/count":{"get":{"tags":["Priorities"],"summary":"Retorna a contagem do resultado da busca por prioridades de uma lista","operationId":"countPrioritiesUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"authorId","in":"query","description":"Identificador do usuário autor do recurso","required":false,"type":"string"},{"name":"description","in":"query","description":"Descrição da prioridade","required":false,"type":"string"},{"name":"finalCreateDate","in":"query","description":"Alcance final da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"finalUpdateDate","in":"query","description":"Alcance final da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"id","in":"query","description":"Identificador de prioridade","required":false,"type":"string"},{"name":"initialCreateDate","in":"query","description":"Alcance inicial da data de criação para filtragem da pesquisa","required":false,"type":"string"},{"name":"initialUpdateDate","in":"query","description":"Alcance inicial da data de atualização para filtragem da pesquisa","required":false,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"},{"name":"order","in":"query","description":"Parâmetro de ordenação","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["description","-description","id","-id","createDate","-createDate","updateDate","-updateDate","priorityLevel-priorityLevel"]},{"name":"property","in":"query","description":"Busca o recurso por uma de suas propriedades personalizáveis. Para buscá-lo, envie a informação da forma a seguir: chave:valor. A busca é feita de forma literal.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/CountResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The requested resource could not be found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Something went wrong on the server. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKey":["global"]}],"deprecated":false}},"/lists/{listId}/task-priorities/{id}":{"get":{"tags":["Priorities"],"summary":"Recupera uma prioridade específica registrada em uma lista","operationId":"findTaskPriorityUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"expand","in":"query","description":"Allowable Values: \n[author, properties]","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["author","properties"]},{"name":"fields","in":"query","description":"Dynamic fields","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"id","in":"path","description":"Identificador de prioridade","required":true,"type":"string"},{"name":"listId","in":"path","description":"Identificador da lista","required":true,"type":"string"}],"responses":{"200":{"description":"Successful request with body content","schema":{"$ref":"#/definitions/TaskPriorityResponse"}},"400":{"description":"The request was invalid or could not be served. An accompanying error message will explain further","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication credentials were missing or incorrect","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"The reque
[...]
